<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Homepage</title>
</head>

<body>
    
    <div class="container mt-4">
        <div class="container mt-4">
            <% if (locals.error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= locals.error %>
                  </div
            <% } %>
        </div>
        <form action="/user/login"  method="post">
            
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>










    <%- include('./partials/scripts') %>
</body>

</html>